.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-content-search {
  display: block;
  background-size: cover;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 500px;
  margin: 0px;

}
.App-inner-con-search {
  display: block;
}
.App-inner-con-header {
  color:black;
  padding: 1070px -1200px;
  float: left;
  width: 1000px;
  position: absolute;
  justify-content: left;
}
.App-home-search{
display: block;
}

.App-content-body{
  display: block;
}
